.social-icons {
  list-style: none;
  display: flex;
  gap: 10px;
}

.social-icons li {
  display: inline-block;
}

.social-icons a {
  text-decoration: none;
  color: inherit;
}

.description-text {
  text-align: center; /* Centraliza todo o texto */
  line-height: 1.5;   /* Ajusta o espaçamento entre linhas */
}

.description-text span {
  display: block;     /* Emojis em blocos separados */
  margin-top: 5px;    /* Espaçamento vertical entre os emojis */
  font-size: 1.2em;   /* Opcional: Aumenta o tamanho dos emojis */
}